---
interface Props {
	name: string;
	url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

const pokemonId = url.split("/").at(-2);

const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemonId}.png`;

---

<!-- class={`bg-gray-200 p-4 rounded-2xl flex flex-col items-center `} -->
<a 
  href={isBig ? "#" : `/pokemons/${name}`}
  class:list={[
    'bg-gray-200 p-4 rounded-2xl flex flex-col items-center',
    {
      'border-4 border-red-400': !isBig,
      'bg-transparent cursor-default': isBig,
    }
  ]}
>
  <img 
    transition:name={`${name}-image`}
    src={imageSrc} alt={name} class:list={[
    {
      'w-20 h-20': !isBig,
      'w-80 h-80': isBig,
    }
  ]} />
  
  <span class:list={[
    'text-center text-gray-800 capitalize',
    {
      'text-3xl text-white': isBig,
      'text-md': !isBig,
    }
  ]}>#{pokemonId }&nbsp;{name}</span>
</a>
