---
import MainLayout from "@layouts/MainLayout.astro";
import type { Pokemons, Result } from "@interfaces/pokemons.interface";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

export const getStaticPaths = async () => {
  
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151")
  const { results } = await response.json() as Pokemons
  
  return results.map((pokemon: Result) => ({
    params: { id: pokemon.url.split("/").at(-2) },
    props: { name: pokemon.name, url: pokemon.url },
  }));
};

const { id } = Astro.params;
const { name, url } = Astro.props;

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title={name}>
  <section class="flex flex-col items-center justify-center">
    <div class="mb-4">
      <a href="/" class="text-xl text-center capitalize text-blue-500">Regresar</a>
    </div>
      
      <PokemonCard name={name} url={url} isBig />

    <audio controls class="mt-4">
      <source src={audioSrc} type="audio/ogg" />
      <p>Your browser does not support the audio element.</p>
    </audio>
  </section>

</MainLayout>