---
import Navbar from "@components/shared/Navbar.astro";
import "@styles/global.css";
import { ClientRouter } from 'astro:transitions';
import { SITE_INFO } from "src/env/site-info";

interface Props {
	title?: string;
	image?: string;
	description?: string;
}

const { title = SITE_INFO.title, description = SITE_INFO.description, image = SITE_INFO.image } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- SEO -->
		<meta name="description" content={description} />
		<meta name="author" content={'Orangel Gonzalez'} />

		<!-- Open Graph Metatags -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />

		<title>{title}</title>

		<ClientRouter />

		<!-- View Transition -->
		<!-- <style>
			@view-transition {
				navigation: auto;
			}
		</style> -->
	</head>
	<body class="bg-slate-800 text-slate-100">
		<Navbar />
		
		<main class="m-auto max-w-5xl px-4">
			<slot />
		</main>
	</body>
</html>

